@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-x: hidden;
	height: 100dvh;
	scrollbar-gutter: stable;
}

body {
	height: 100%;
}

@layer components {
	.container-mi {
		@apply container px-4 mx-auto;
		transition: max-width 450ms;
	}
}
